body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cf8b8b;
    padding: 20px;
}

h1 {
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 1rem;
}


